nav{position:relative;width:100%;margin:0 auto;text-transform: capitalize; font-family:'Open Sans', sans-serif;}
#cssmenu,#cssmenu ul,#cssmenu ul li,#cssmenu ul li a,#cssmenu #head-mobile{border:0;list-style:none;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cssmenu:after,#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
#cssmenu #head-mobile{display:none}
#cssmenu{}
#cssmenu > ul > li{float:left;padding:0 30px; position:relative;text-align: center;}
#cssmenu > ul > li:before{content:'';border-right:1px solid #ddd;position:absolute;top:6px;right:0;height:26px;}
#cssmenu > ul > li:last-child:before { display:none}
#cssmenu > ul > li > a{padding:0px 0 30px 0;font-size:17px;text-decoration:none;color:#737577;border-bottom:2px solid transparent;  line-height:18px}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#000;/* border-bottom:2px solid #ba2924; */}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a{color:#000}
#cssmenu > ul > li:hover,#cssmenu ul li.active:hover,#cssmenu ul li.active,#cssmenu ul li.has-sub.active:hover{/* background:#448D00!important; */-webkit-transition:background .3s ease;-ms-transition:background .3s ease;transition:background .3s ease;}
#cssmenu > ul > li.has-sub > a{padding-right:30px}
#cssmenu > ul > li.has-sub > a:after{position:absolute;top:22px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu > ul > li.has-sub > a:before{position:absolute;top:19px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu > ul > li.has-sub:hover > a:before{top:23px;height:0}
#cssmenu ul ul { position: absolute; left: -10069px; z-index: 10; width: 280px; margin: 0; padding: 15px;background:#fff;box-shadow:3px 3px 6px 0px rgba(0,0,0,0.3);border-radius: 0 0 10px 10px;} 
#cssmenu ul ul li{height:0;-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease;float: left;    padding-bottom: 0;}
#cssmenu li:hover > ul{left:-19px;top: 33px;}

#cssmenu li:hover > ul > li{height:auto;width: 100%;text-align: left;}
#cssmenu ul ul ul{margin-left:100%;top:0}
#cssmenu ul ul li a { padding:7px 10px 0 18px; width: 100%; font-size: 13px; text-decoration: none; color: #000 !important; font-weight: 400; text-transform: capitalize; clear: both;transition-duration: 1s;transition-timing-function: ease-in-out;transition-property: transform;background:url(../images/bullet1.png) no-repeat 0 12px;transition: all 0.4s ease 0s;} 
#cssmenu ul ul li a:hover{color:#b82923!important;padding-left:25px;transition: all 0.4s ease 0s;background-position:7px 12px;}
#cssmenu ul ul li:last-child > a,#cssmenu ul ul li.last-item > a{border-bottom:0}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li a:hover{color:#fff}
#cssmenu ul ul li.has-sub > a:after{position:absolute;top:16px;right:11px;width:8px;height:2px;display:block;background:#ddd;content:''}
#cssmenu ul ul li.has-sub > a:before{position:absolute;top:13px;right:14px;display:block;width:2px;height:8px;background:#ddd;content:'';-webkit-transition:all .25s ease;-ms-transition:all .25s ease;transition:all .25s ease}
#cssmenu ul ul > li.has-sub:hover > a:before{top:17px;height:0}
#cssmenu ul ul li.has-sub:hover,#cssmenu ul li.has-sub ul li.has-sub ul li:hover{background:#363636;}
#cssmenu ul ul ul li.active a{border-left:1px solid #333}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active> a{border-top:1px solid #333}

#cssmenu ul ul li span.title { font-size: 13px; text-transform: capitalize; float: left; margin:17px 0 15px 15px;font-weight: 600; } 
#cssmenu ul ul li img { float: left;width: 84px;transition-property: transform;transition-duration: 0.3s;transform: translateZ(0);transition-timing-function: ease-out;} 




@media screen and (min-width:992px) and (max-width:1100px){
#cssmenu > ul > li{padding: 0 12px;}

}
@media screen and (min-width:1024px){
#cssmenu li:hover > ul{left:-70%;top: 68px;}
#cssmenu > ul > li > a { font-size:13px}
#cssmenu > ul > li > a:hover { color:#ba2924!important;}
#cssmenu ul ul:before{background:url(../images/arrow3.png) no-repeat center 0;background-size: 17px;content:'';position:absolute;top:-20px;left:0;right:0;width:17px;height:11px;margin:0 auto;}
}
@media screen and (min-width:992px){
#cssmenu > ul > li.has-sub > a::before,#cssmenu > ul > li.has-sub > a::after{content:unset}
#cssmenu > ul > li.has-sub > a {padding-right: 0;}



}
@media screen and (max-width:991px){
nav{width:100%;}
#cssmenu{width:100%;position: static;}
#cssmenu ul{width:100%;display:none}
#cssmenu ul li{width:100%;border-top:1px solid #ddd}
#cssmenu ul li:first-child {border-top:0}
#cssmenu ul li:hover{background:#ba2924;color:#fff;}
#cssmenu ul li a:hover{color:#fff;border-bottom:0;}
#cssmenu ul ul li,#cssmenu li:hover > ul > li{height:auto}
#cssmenu ul li a,#cssmenu ul ul li a{width:100%;}
/* #cssmenu > ul > li{float:none} */
#cssmenu ul ul li a{padding-left:25px}
#cssmenu ul ul li:hover{background:#fff!important}
#cssmenu ul ul ul li a{padding-left:35px}
#cssmenu ul ul li a{color:#000;}
#cssmenu ul ul li:hover > a,#cssmenu ul ul li.active > a{color:#fff}
#cssmenu ul ul,#cssmenu ul ul ul{position:relative;left:0;width:100%;margin:0;text-align:left}
#cssmenu > ul > li.has-sub > a:after,#cssmenu > ul > li.has-sub > a:before,#cssmenu ul ul > li.has-sub > a:after,#cssmenu ul ul > li.has-sub > a:before{display:none}
#cssmenu #head-mobile{display:block;padding:0 23px 6px;color:#ba2924;font-size:12px;font-weight:700}
.top-menu .button{border-radius: 15px;width:45px;height:28px;position:absolute;right:auto;top:58px;cursor:pointer;z-index: 12399994; background:#b82923;z-index: 1;}
.top-menu .button:after{position:absolute;top:13px;right:0;display:block;height:8px;width:20px;border-top:2px solid #FFF;border-bottom:2px solid #fff;content:''; left:0; margin:0 auto}
.top-menu .button:before{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;position:absolute;top:7px;right:0;display:block;height:2px;width:20px;background:#fff;content:''; left:0; margin:0 auto}
.top-menu .button.menu-opened:after{-webkit-transition:all .3s ease;-ms-transition:all .3s ease;transition:all .3s ease;top:14px;border:0;height:2px;width:19px;background:#FFF;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.top-menu .button.menu-opened:before{top:14px;background:#FFF;width:19px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
#cssmenu .submenu-button{position:absolute;z-index:99;right:0;top:0;display:block;border-left:1px solid #ddd;width:40px;height:39px;cursor:pointer}
#cssmenu .submenu-button.submenu-opened{background:#ba2924}
#cssmenu ul ul .submenu-button{height:34px;width:34px}
#cssmenu .submenu-button:after{position:absolute;top:19px;right:14px;width:8px;height:2px;display:block;background:#363435;content:''}
#cssmenu ul ul .submenu-button:after{top:15px;right:13px}
#cssmenu .submenu-button.submenu-opened:after{background:#fff}
#cssmenu .submenu-button:before{position:absolute;top:16px;right:17px;display:block;width:2px;height:8px;background:#363435;content:''}
#cssmenu .submenu-button:hover:before,#cssmenu .submenu-button:hover:after{background:#fff;}
#cssmenu > ul > li:hover .submenu-button:before,#cssmenu > ul > li:hover .submenu-button:after{background:#fff;}

#cssmenu ul ul{top:0;}
#cssmenu ul ul .submenu-button:before{top:12px;right:16px}
#cssmenu .submenu-button.submenu-opened:before{display:none}
#cssmenu ul ul ul li.active a{border-left:none}
#cssmenu > ul > li.has-sub > ul > li.active > a,#cssmenu > ul ul > li.has-sub > ul > li.active > a{border-top:none}
#cssmenu ul{position: absolute;background:#fff;z-index:10;left: 0;top: 120px;}
#cssmenu > ul > li > a{font-size: 13px;padding:11px 15px 10px;color: #363435;text-align: left;}
#cssmenu > ul > li br{display:none;}
#cssmenu > ul > li:hover a::after{content:unset;}
#cssmenu li:hover > ul{right: 0;
width: 100%;
left: auto;
border-radius: 0;
background: #fff;float: left;}
#cssmenu ul li.menu-img{display:none;}
#cssmenu ul ul li span.title {margin: 14px 0 15px 15px;}
#cssmenu > ul > li{padding:0;position: relative;}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a{color: #fff !important;}
#cssmenu ul ul li img{width: 76px;}
#cssmenu ul ul li a{padding:8px 15px;background-position:0 13px;}
#cssmenu ul ul{height: auto;}
#cssmenu ul ul li a{border:0;}
#cssmenu ul ul{padding:0 15px 15px;float:left;width:100%;border-bottom: 0px solid #282627;}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a{border-bottom: 0px solid #ba2924;float: left;
width: 100%;border-radius:0;}
#cssmenu > ul > li::before { display:none}
#cssmenu li:hover > ul { top:0}
#cssmenu > ul > li:hover > a,#cssmenu ul li.active a,#cssmenu > ul > li > a { border-bottom:none}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a  {color:#fff !important;}
}

@media screen and (max-width:767px){	
.search-panel { margin-right: 0; width: 270px; margin: 16px auto 0 auto; }	 
#cssmenu ul ul li {width:100% !important}	
#cssmenu ul { top: 120px; height: 400px !important; overflow: scroll !important; } 


}

@media screen and (max-width:412px){
.top-panel { padding:0px 0 0px 0; }	
#cssmenu ul { top: 109px !important; } 
.col-lg-2.col-md-6.col-sm-4.logo.col-12.p-0 { width: 17% !important; max-width: 26% !important; padding: 0 !important;margin: 13px 0;} 
#cssmenu ul ul{ top: 0 !important; } 


}

@media screen and (max-width:360px){	
#cssmenu ul { top: 88spx !important; } 

}


#cssmenu > ul > li > a#brochure:hover {
    color: #fff!important;
}